/*
* @Author: getgitch95
* @Date:   2019-08-19 10:47:35
* @Last Modified by:   getgitch95
* @Last Modified time: 2019-08-19 10:51:41
*/
body{
	font-size: 20px;
	background-image: url(../images/timg1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}