/*
* @Author: getgitch95
* @Date:   2019-08-19 10:48:10
* @Last Modified by:   getgitch95
* @Last Modified time: 2019-08-19 10:50:31
*/
body{
	font-size: 18px;
	background-image: url(../images/z2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}